<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/adminLayout}">
<body>
<main id="main" class="main" layout:fragment="content">
    <div class="pagetitle">
        <h1>Hoa</h1>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Quản lý hoa</h5>
                        <form method="post" th:action="@{/flower/create}" enctype="multipart/form-data" id="flowerForm">
                            <div class="form-group" >
                                <label for="flowerName">Tên hoa</label>
                                <input type="text" class="form-control" name="flowerName" id="flowerName" placeholder="Tên hoa">
                            </div>
                            <div class="form-group" >
                                <label for="color">Màu sắc</label>
                                <input type="text" class="form-control" name="color" id="color" placeholder="Màu sắc">
                            </div>
                            <div class="form-group" >
                                <label for="image">Ảnh hoa</label>
                                <input type="file" class="form-control" name="image" id="image" placeholder="Ảnh hoa" accept="image/png, image/jpeg" onchange="loadFile(event)">
                                <img id="output" style="margin-top: 12px" height="100"/>
                            </div>
                            <div class="form-group" >
                                <label for="unit">Đơn vị tính</label>
                                <input type="text" class="form-control" name="unit" id="unit" placeholder="Đơn vị tính">
                            </div>
                            <div class="form-group" >
                                <label for="price">Giá bán</label>
                                <input type="text" class="form-control" name="price" id="price" placeholder="Giá bán">
                            </div>
                            <div class="form-group" >
                                <label for="description">Số lượng tồn</label>
                                <input type="text" class="form-control" name="description" id="description" placeholder="Số lượng tồn">
                            </div>
                            <div class="form-group">
                                <label for="categoryID">Loại hoa</label>
                                <select name="categoryID" id="categoryID" class="form-select">
                                    <option th:each="item:${categories}" th:value="${item.id}"
                                            th:text="${item.categoryName}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="supplierID">Nhà cung cấp</label>
                                <select name="supplierID" id="supplierID" class="form-select">
                                    <option th:each="item:${suppliers}" th:value="${item.id}"
                                            th:text="${item.supplierName}"></option>
                                </select>
                            </div>
                            <a th:href="@{/flower}" class="btn btn-light">Trở về</a>
                            <button type="submit" class="btn btn-primary">Thêm</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script>
    var loadFile = function(event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function() {
            URL.revokeObjectURL(output.src) // free memory
        }
    };
</script>
</body>

</html>