<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/userLayout}">
<body>
<div layout:fragment="content">
    <section class="breadcrumb-section set-bg" data-setbg="/assets/user/img/breadcrumb.png">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Chi tiết đơn hàng</h2>
                        <div class="breadcrumb__option">
                            <a href="./index.html">Trang chủ</a>
                            <span>Chi tiết đơn hàng</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <h4>Chi tiết đơn hàng</h4>
                <form >
                    <div class="row">

                        <div class="col-lg-12 col-md-6">
                            <div class="checkout__order">
                                <h4 th:text="'Số Hóa đơn: '+${receipt.id}">Đơn hàng của bạn</h4>
                                <div class="checkout__order__products">Sản phẩm <span>Tổng tiền</span></div>
                                <ul th:each="item:${receiptDetail}">
                                    <li th:inline="text"> [[${item.flower.flowerName}]]<span th:text="${#numbers.formatDecimal(item.price*item.quantity,3,'POINT',0,'NONE')}+ ' VND'"></span></li>
                                </ul>

                                <div class="checkout__order__total">Tổng thanh toán <span th:text="${#numbers.formatDecimal(receipt.totalPayMent,3,'POINT',0,'NONE')}+ ' VND'"></span></div>
                                <a href="http://localhost:8080" class="site-btn">Trở về trang chủ</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>


</body>

</html>