<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/userLayout}">

<body>

<div layout:fragment="content">
  <div style="display:flex; justify-content:center; flex-direction: column; align-items: center">
    <h3 class="mb-5">Thanh toán thành công!</h3>
    <div class="mb-3">
      <a href="/YourReceipt" class="site-btn">Xem đơn hàng của bạn</a>
      <a href="/" class="site-btn">Về trang chủ</a>
    </div>
  </div>
</div>

</body>

</html>